.header {
  background-color: #7147cb;
  color: white;
  margin-bottom: 25px;
}

table, th, td {
  border-color: #7147cb !important;
}

table.medicines td:last-child a {
  margin-left: 5px;
  text-align: right;
}

.footer {
  background-color: #7147cb;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: white;
}

ul {
  list-style-type: none;
}

table thead.thead-dark {
  background-color: #7147cb;
  color: white;
}
